.cart-wrapper {
  display: flex;
  flex-direction: column;

  .button-order {
    margin-top: 2rem;
    align-self: center;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 4rem;
    width: 40%;
    color: white;
    background-color: $mainColor;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0 1rem;
  border-bottom: 1px solid $mainColorDarker;
  border-width:medium;
  padding-top: 1rem;
  padding-bottom: 2rem;
  img {
    aspect-ratio: 1;
    border-radius: 1.5rem;
    height: 10rem;
    margin-right: 2rem;
  }
  .cart-info {
    display: flex;
    flex-direction: column;
    .name {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.6rem;
    }
    .price-at-this-time {
      font-weight: 300;
      font-size: 0.6rem;
      flex-grow: 1;
    }

    .cart-action {
      display: flex;
      flex-direction: row;
      padding: 0 1rem 0 1rem;
      align-items: center;
      height: 4rem;
      div {
        flex-grow: 1;
        font-weight: bold;
      }

      .button-delete-item {
        width: 2rem;
        height: 2rem;
        border-radius: 1.5rem;
        background-image: url("../img/delete.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
      }
    }
  }
  @include breakpoint(tablet) {
    img {
      height: 15rem;
    }

    .cart-info {
      width: 100%;

      .name {
        font-size: 2rem;
      }

      .price-at-this-time { 
        font-size: 1.6rem;
      }

      .cart-action {
        div {
          font-size: 2rem;
        }

        .button-delete-item {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }

  @include breakpoint(desktop) {
    img {
      height: 11rem;
    }

    .cart-info {
      width: 100%;

      .name {
        font-size: 1.5rem;
      }

      .price-at-this-time { 
        font-size: 1.2rem;
      }

      .cart-action {
        div {
          font-size: 1rem;
        }

        .button-delete-item {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}
