.cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 2rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0 1rem;
  border-bottom: 1px solid $mainColorDarker;
  border-width:medium;
  padding-bottom: 1rem;
  img {
    aspect-ratio: 1;
    border-radius: 1.5rem;
    height: 10rem;
    margin-right: 2rem;
  }
  .cart-info {
    display: flex;
    flex-direction: column;
    .name {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.6rem;
    }
    .price-at-this-time {
      font-weight: 300;
      font-weight: 0.6rem;
      flex-grow: 1;
    }

    .cart-action {
      display: flex;
      flex-direction: row;
      padding: 0 1rem 0 1rem;
      align-items: center;
      height: 4rem;
      div {
        flex-grow: 1;
        font-weight: bold;
      }

      .button-delete-item {
        width: 2rem;
        height: 2rem;
        border-radius: 1.5rem;
        background-image: url("../img/delete.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
      }
    }
  }
}
