.catalog {
  display: flex;
  flex-direction: column;
  @include breakpoint(desktop) {
    flex-direction: row;
  }
}

.product-list {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  align-items: center;
  justify-items: center;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.search-bar {
  padding-top: 1rem;
  display: flex;
  border-bottom: 2px solid $mainColor;
  padding-bottom: 1.5rem;
  flex-direction: column;
  position: sticky;

  @include breakpoint(tablet) {
    border-right: unset;
    width: unset;
  }

  .semantic {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint(tablet) {
      align-items: center;
      input {
        align-self: center;
      }

      .semantic-list {
        width: 100%;
      }
    }
  }

  .checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    button {
      all: unset;
      border: 1px solid $mainColor;
      width: 7rem;
      border-radius: 2rem;
      font-size: 0.9rem;
      margin: 0.4rem;
      padding: 0.2rem;
      cursor: pointer;
      text-align: center;
    }

    :last-child {
      grid-column: 1 / span 2;
    }
  }

  input {
    width: 70%;
    height: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid $mainColor;
    align-self: center;
    margin-top: 1rem;
  }

  @include breakpoint(tablet) {
    top: 0;
    flex-direction: row;
    position: relative;

    .checkbox-list {
      padding-left: 4rem;
      flex-direction: column;
      align-items: center;
      button {
        height: 1rem;
        margin-bottom: 1rem;
      }
      padding-right: 4rem;
    }
    input {
      align-self: start;
      width: 50%;
    }
  }

  @include breakpoint(desktop) {
    top: 0;
    width: 20%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;

    .checkbox-list {
      flex-direction: column;
      align-items: center;
      padding: 0 0 0 0;
      button {
        height: 2rem;
        width: 70%;
        margin-bottom: 1rem;
      }

    }
  }
}

.product-card {
  max-width: 12em;
  cursor: pointer;
  margin: 0.9rem;

  .image-preview {
    aspect-ratio: 1;
    border-radius: 1rem;
    width: 100%;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    height: 5rem;
    padding-top: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    h4 {
      flex-grow: 1;
      width: 100%;
    }
  }

  & hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
