.header {
  display: flex;
    background-image: linear-gradient(to right, transparent, $mainColorDarker),
      linear-gradient(to left, transparent, $mainColorLighter);
    background-color: $mainColor;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  @include breakpoint(tablet) {
    height: 10rem;
    margin-bottom: 1rem;
  }

  @include breakpoint(desktop) {
    height: 6rem;
    margin-bottom: 2rem;
  }
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  font-family: 'Heebo', sans-serif;
  color: $thirdColor;
  font-weight: 600;
  font-size: 11px;
  cursor: pointer;

  & a {
    font-family: 'Heebo', sans-serif;
    color: $thirdColor;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
  }
  & img {
    filter: invert(100%) sepia(61%) saturate(894%) hue-rotate(175deg)
      brightness(97%) contrast(104%);
  }

  @include breakpoint(tablet) {
    font-size: 26px;

    & a {
      font-size: 26px;
    }

    & img {
      width: 5rem;
    }
  }

  @include breakpoint(desktop) {
    font-size: 21px;

    & a {
      font-size: 21px;
    }

    & img {
      width: 2.5rem;
    }
  }
}

.cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    font-family: 'Heebo', sans-serif;
    color: $thirdColor;
    font-weight: 600;
    font-size: 11px;
  }

  & img {
    filter: invert(100%) sepia(61%) saturate(894%) hue-rotate(175deg)
      brightness(97%) contrast(104%);
  }

  @include breakpoint(tablet) {
    font-size: 26px;

    & a {
      font-size: 26px;
    }

    & img {
      width: 5rem;
    }
  }

  @include breakpoint(desktop) {
    font-size: 21px;

    & a {
      font-size: 21px;
    }

    & img {
      width: 2.5rem;
    }
  }
}
