.semantic-list {
  display: flex;
  flex-direction: column;
}

.semantic-card {
  width: 100%;
  cursor: pointer;
  margin: 0.9rem;
  display: flex;
  flex-direction: row;

  .semantic-preview {
    aspect-ratio: 1;
    border-radius: 1rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .semantic-info {
    display: flex;
    flex-direction: column;
    height: 3rem;
    padding-top: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    h4 {
      flex-grow: 1;
      width: 100%;
    }
  }

  & hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  @include breakpoint(desktop) {
    width: 85%;
  }
}
